@import url("https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root,
:root.guts {
  --background-color: #fff;
  --header-color: #14143f;
  --status-color: #14143f;
  --title-color: #14143f;
  --link-color: #14143f;
  --hover-color: #1c1c1cff;
  --image: url("/assets/Grafikforside.png");
}

:root.pastel {
  --background-color: #cec7c7;
  --header-color: #47a4da;
  --status-color: #151241;
  --title-color: #151241;
  --link-color: #151241;
  --hover-color: #1a1a39;
  --image: url("/assets/pos.webp");
}

:root.griffith {
  --background-color: #809592;
  --header-color: #353636ff;
  --status-color: #f0f0f0ff;
  --title-color: #353636ff;
  --link-color: #f0f0f0ff;
  --hover-color: #353636ff;
  --image: url("/assets/rack.webp");
}

:root.gold {
  --background-color: #18122b;
  --header-color: #d99433;
  --status-color: #edf0e8;
  --title-color: #d99433;
  --link-color: #edf0e8;
  --hover-color: #433f57;
  --image: url("/assets/pos.webp");
}

:root.sexy {
  --image: url("/assets/sexy.webp");
  --background-color: #efef8d;
  --header-color: #449fdb;
  --status-color: #15133f;
  --title-color: #fe93f4;
  --link-color: #15133f;
  --hover-color: #c0dbea;
}

:root.wms {
  --image: url("/assets/wms.webp");
  --background-color: #cccfb0;
  --header-color: #251d5b;
  --status-color: #15133f;
  --title-color: #251d5b;
  --link-color: #251d5b;
  --hover-color: #15133f;
}

:root.rack {
  --image: url("/assets/rack.webp");
  --background-color: #819394;
  --header-color: #251d5b;
  --status-color: #15133f;
  --title-color: #251d5b;
  --link-color: #251d5b;
  --hover-color: #15133f;
  --svg-color: #efed89;
}

:root.rocket {
  --image: url("/assets/rocket.webp");
  --background-color: #fff;
  --header-color: #645fad;
  --status-color: #13133c;
  --title-color: #13133c;
  --link-color: #13133c;
  --hover-color: #645fad;
}

:root.SCM {
  --image: url("/assets/SCM.webp");
  --background-color: rgba(0, 0, 0, 0);
  --background-gradient: linear-gradient(
    90deg,
    rgba(68, 159, 217, 1) 0%,
    rgba(213, 199, 201, 1) 100%
  );
  --header-color: #14143f;
  --status-color: #14143f;
  --title-color: #14143f;
  --link-color: #14143f;
  --hover-color: #1c1c1cff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  gap: 20px;
  height: 100vh;
  width: 100%;
  background: var(--background-gradient);
  background-color: var(--background-color);
  color: var(--header-color);
}

.updated {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Overpass", sans-serif;
  font-size: 0.8rem;
  margin-right: 2%;
}

.content-container {
  margin-top: 6%;
  grid-column: 2;
  grid-row: 2;
}

.image-container {
  height: 100%;
  max-width: 40vw;
  display: grid;
  place-items: 50%;
}

.image-container img {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.header-container {
  text-align: center;
}

h1 {
  color: var(--header-color);
  font-family: "Space Mono", monospace;
  font-size: 5rem;
  margin-right: 14vh;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: -93rem;
  font-weight: regular;
}

.status-strip {
  margin-right: 14vh;
  margin-top: 1vh;
  margin-bottom: 8vh;
  color: var(--status-color);
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
}

span {
  margin-left: 2vh;
}

.card-container {
  height: 25vh;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  width: auto;
  max-width: 150px;
  height: 30vh;
  text-align: center;
}

.title {
  margin-top: 2vh;
  font-family: "Space Mono", monospace;
  color: var(--title-color);
  font-size: 1.3rem;
}

.title svg {
  color: var(--svg-color);
}

a {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--link-color);
  margin-top: 2vh;
}

a:hover {
  color: var(--hover-color);
}

.links a {
  display: block;
  min-height: 55px;
}

img {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  width: 60vh;
  height: 60vh;
  margin-right: 15vh;
  content: var(--image);
}

.grow {
  transition: all 0.2s ease-in-out;
}

span {
  margin-right: 8px;
}

.status-strip, h1{
  width:100%;
}